.DS_Store

## BACKEND API
# Editor directories and files
api/.idea
api/.*.suo
api/.*.ntvs*
api/.*.njsproj
api/.*.sln
api/.vscode

api/node_modules

## FRONTEND WEB
# Quasar core related directories
web/.quasar
web/dist

# Editor directories and files
web/*.njsproj
web/*.ntvs*
web/*.sln
web/*.suo
web/.DS_Store
web/.idea
web/.thumbs.db
web/.vscode
web/node_modules
web/npm-debug.log*
web/src-cordova/node_modules
web/src-cordova/platforms
web/src-cordova/plugins
web/src-cordova/www
web/yarn-debug.log*
web/yarn-error.log*

# Cordova related directories and files
web/src-cordova/node_modules
web/src-cordova/platforms
web/src-cordova/plugins
web/src-cordova/www

# Capacitor related directories and files
web/src-capacitor/www
web/src-capacitor/node_modules

# BEX related directories and files
web/src-bex/www
web/src-bex/js/core

# Log files
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

